
  .container{
      width: 100%;
      height: 200px;
      border: 1px solid #ffffff;
      .links{
          width: 50%;
          height: 10%;

          border-bottom: 1px solid #ffffff;
      }
  }
