
@mixin flexcenter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%
}
    .container{
        @include flexcenter();  
        width: 100%;
        height: auto;
        padding: 2% 0;
        overflow: hidden;
            .logo{
                @include flexcenter();
                justify-content: flex-start;
                img{
                margin-left: 2rem;
                width: 6rem;
                border-radius: 50%;
                
                }:hover{
                    transition: 2s ease-in-out;
                    transform: rotateY(720deg);
                }
        }      
      
    .title{
          height: 100%;
            h1{
                border-bottom: 1px solid #53ebde;
                position: relative;
                top: 0;
                left: 0;
                font-size: 2.5rem;
                text-align: center;
                padding-bottom: 2%;
            }:hover{
                transition: 1s ease-in-out;
                text-shadow: 0 0 5px #c5ec18,
                            0 0 10px #c5ec18,
                            0 0 15px #c5ec18,
                            0 0 20px #c5ec18,
                            0 0 30px #c5ec18,
                            0 0 40px #c5ec18;
                border-bottom: 0;
            }
        }

      .links{
          @include flexcenter();
          width: 40%;
            .ul__pages{
                @include flexcenter();
                width: 100%;
                justify-content: flex-start;
                color: #ffffff;
                .pages{
                    @include flexcenter();
                    align-items: flex-start;
                    font-size: 15px;
                    padding-right: 5%;
                        &:hover{
                        padding: 3%;
                        text-transform: uppercase;
                        border-bottom: 2px solid #c5ec18;
                        text-shadow: 0 0 5px #3cff00,
                                    0 0 10px #3cff00,
                                    0 0 15px #3cff00
                        } 
                    .link{
                        @include flexcenter();
                        width: auto;
                        margin-top: 3%;
                        position: absolute;
                        display: flex;
                        flex-flow: column;
                        a{
                            visibility: hidden;
                            padding: 5% 0;
                            text-decoration: none;
                            background: transparent;
                            color: inherit;
                            &:hover{
                                text-shadow: 0 0 5px #ff00d4,
                            }
                        }
                    }
                }
        } 
    }
  }
